<div class="parent-container">

  <div class="form-container">
    <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
      <h3>Employee details</h3>

      <label for="fname">Name</label>
      <input formControlName="name" type="text" placeholder="Your name..">

      <label for="lname">Designation</label>
      <input formControlName="designation" type="text" placeholder="designation..">

      <label for="country">Department</label>
      <input formControlName="department" type="text" placeholder="designation..">


      <h4>Project info</h4>

      <div formArrayName="project">

        <div class="project-section">

          <ng-container *ngFor="let item  of projectControls; index as i ">

            <label for="country">Add project name</label>
            <input [formControlName]="i" type="text" placeholder="add projects">

          </ng-container>

          <div class="addProjects-btn" (click)="addProject()"><span>add projects</span></div>
        </div>

      </div>

      <input type="submit" value="Submit">
    </form>
  </div>
  <!-- end of form container -->


  <table id="empTable">
    <tr>
      <th>Emp ID</th>
      <th>Emp Name</th>
      <th>Department</th>
      <th>Designation</th>
      <th>projects</th>
    </tr>
   
    <ng-container *ngFor="let item of employees">

      <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.department}}</td>
        <td>{{item.designation}}</td>
        <td > <span class="project" *ngFor="let subItem of item.projects" >{{subItem}}&nbsp;</span> 
        </td>
      </tr>

    </ng-container>

  </table>


</div>


